.formLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 500px;
  flex-direction: column;
  background-color: white;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  z-index: 2;
}
