/* .container-fluid {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}

.row {
  justify-content: space-between;
  display: flex;
  margin: 1px 200px 0px;
}

.col ul li {
  list-style: none;
}
.edit-footer-icon {
  align-items: center;
} */
